.anim-slide-in {
  animation: slidein_kf 0.25s ease-out;
}
@keyframes slidein_kf {
  from {
    transform: translateX(10px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.anim-slide-up {
  animation: slideup_kf 0.25s ease-out;
}
@keyframes slideup_kf {
  from {
    transform: translateY(10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes anim-appear {
  from {
    opacity: 0.5;
    scale: 0.85;
  }
  to {
    opacity: 1;
    scale: 1;
  }
}
.anim-toast {
  animation: anim-toast 3s ease-in-out;
}
@keyframes anim-toast {
  0% {
    opacity: 0;
    transform: translateX(15px);
  }
  5% {
    transform: translateX(5px);
  }
  10% {
    opacity: 1;
    transform: translateX(0);
  }
  90% {
    opacity: 1;
    transform: translateX(0);
  }

  95% {
    transform: translateX(-5px);
  }
  100% {
    opacity: 0;
    display: none;
    transform: translateX(-10px);
  }
}
